<p id="notice"><%= notice %></p>

<h1>
  <strong><%= @quiz.title %></strong> by <%= @quiz.user.name %>
</h1>

<table>
  <% @quiz.questions.each do |q| %>
    <tr>
      <td>#<%= q.id %></td>
      <td><%= q.title %></td>
    </tr>
    <tr>
      <td>A)<%= q.option1 %></td>
    </tr>
      <td>B)<%= q.option2 %></td>
    <tr>
      <td>C)<%= q.option3 %></td>
    </tr>
    <tr>
      <td>D)<%= q.option4 %></td>
    </tr>
    <tr>
      <td>Answer: <%= q.correctAnswer %></td>
    </tr>
    <td><%= link_to 'Edit Question', edit_question_path(q) %><p></td>
  <% end %>
</table>


<%= link_to 'Edit Quiz', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
